@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Nunito');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #1c1c1c;
  --bg-color-medium: #282828;
  --bg-color-light: #333333;
  --bg-color-gray: #283b56;
  --color-primary: #ccc;
  --color-secondary: #fff;
  --color-accent:#f082ac;
  --color-accent-secondary: #48a67f;

  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: var(--bg-color);
  color: var(--color-primary);
  touch-action: none;
  font-size: 18px;
  font-family: 'Nunito';
}
header, main {
  margin: 0 auto;
  max-width: 90%;
}
main {
  touch-action: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  column-gap: 2em;
}
.col-1 {
  flex-basis: 40%;
  flex-grow: 0;
}
.col-2 {
  flex-basis: 60%;
  flex-grow: 0;
}
.title {
  margin-top: 1em;
  font-family: 'Oswald';
}
.title-section {
  border-bottom: 1px solid var(--bg-color-medium);
  cursor: pointer;
  padding: 1em;
}
.right {
  float: right;
  height: 16px;
  width: 16px;
  transition: transform 450ms ease;
  position: relative;
}
.right img {
  position: absolute;
  width: 100%;
  height: auto;
}
.right.active {
  transform-origin: center;
  transform: rotate(225deg);
}

.prediction {
  padding: 1em;
  margin-bottom: 1em;
  transition: all 0.3s ease;

}
.prediction.small {
  /* max-height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
  height: 0;
  padding: 0 1em;
  border-color: transparent;
  overflow: hidden;
}
#nokia {
  position: relative;
  max-width: 100%;
  /* max-width: 500px; */
  /* position: fixed;
  bottom: 0; */
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 500px;
  color: var(--color-primary);
}
.moving {
  cursor: pointer;
  height: 32px;
  background-color: var(--bg-color-medium);
  border-radius: 30px 30px 0 0;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: var(--bg-color-light);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}
.moving #slider {
  width: 60%;
  height: 3px;
  background-color: var(--color-secondary);
  border-radius: 8px;
}
.smooth {
  transition: bottom 300ms ease;
}
#text-input {
  width: 100%;
  border: 0px transparent;
  padding: 0;
  text-align: center;
  height: 3em;
  font-size: 18px;
  background-color: var(--bg-color-medium);
  color: var(--color-accent);
}

#text-input:focus {
  outline: none !important;
}
#text-input::placeholder {
  color: var(--color-accent);
}
.button-holder {
  display: grid;
  background-color: var(--bg-color-medium);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 16px;
  padding: 1em 2em;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 64px;
  height: 64px;
  background-color: var(--bg-color-light);
  color: var(--color-accent);
  /* border-radius: 7px; */
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--bg-color-medium);
  box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
  transition: border-color 300ms ease;
}
.button.special {
  color: var(--color-accent);
  border-color: var(--color-accent);
  background-color: transparent;
}
.button:hover, .button:active {
  border-color: var(--color-accent);
}
.button:active {
  background-color: var(--bg-color-ligth);
}

.people .list {
  list-style: none;
  padding: 1em 0 0 0;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 500px;
  max-height: 900vh;
  width: 100%;
  overflow: hidden;

}
.people .list.small {
  max-height: 0;
}
.user-item {
  max-width: 350px;
  width: 100%;
  padding: 10px 30px 10px 20px;
  display: flex;
  gap: 20px;
  background-color: var(--bg-color-medium);
  border: 1px solid var(--bg-color-light);
  box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
  border-radius: 3px;
  transition: all 0.3s ease;
}
.user-item:hover {
  background-color: var(--bg-color-light);
}
.user-item img {
  border-radius: 100%;
  width: 60px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.call {
  position: relative;
  margin-left: auto;
  width: 50px;
  transition: background-color 300ms ease;
  background-color: transparent;

}
.call img {
  position: absolute;
  width: 50px;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--color-accent-secondary);
  padding: 16px;

  transition: background-color 150ms ease;
  background-color: transparent;
}
.call:hover img {
  cursor: pointer;
  background-color: var(--color-accent-secondary);
}
.call:active img {
  background-color: #3E8E6D;
}

/* DIAL SCREEN */
#dial-screen.hide-dialog {
  transform: translateY(0);

  animation: hide 300ms 900ms forwards;
}
#dial-screen.hide-dialog .controls .wrapper {
  animation: shake 300ms 100ms forwards;
  animation-iteration-count: 1;
}
#dial-mask {
  content: "";
  position: fixed;
  background-color: var(--bg-color);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes hide {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30%);
    opacity: 0;
  }
}
#dial-screen {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
  opacity: 1;
  transform: translateY(100px);
  animation: show 300ms forwards;
}
@keyframes show {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#dial-screen .info {
  text-align: center;
}
#dial-screen .info .text {
  font-size: 2em;
  font-weight: 400;
}
.discreet {
  font-size: 11px;
}
.img-wrapper {
  position: relative;
}
.user-img {
  width: 60%;
  height: auto;
  margin: 1em auto;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 50%);
}
.img-wrapper svg {
  width: 100%;
}
.controls {
  position: relative;
  width: 70px;
  text-align: center;
  margin: 0 auto;
}
.controls .wrapper {
  width: 75px;
  height: 75px;
  border:1px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls p  {
  margin-top: 5px
}
.controls img {
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: center;
  width: 50%;
  height: auto;
  border-radius: 50%;
  transition: background-color 300ms ease;
}

.controls .wrapper:hover {
  cursor: pointer;
  background-color: red;
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
  }
  #nokia {
    margin-left: 5%;
  }
}